/* AUTOCOMPLETAR */


.autocompletar_contenedor {
   /* position: absolute;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    z-index: 50;*/
}
/*
    .autocompletar_contenedor UL
    {
    }

    .autocompletar_contenedor LI
    {
        display: block;
        cursor: pointer;
    }

*/